<template>

  <h3>Drag example</h3>

  <!-- <div id="fl-container">
    <div fl-draggable></div>
  </div> -->

  <script>
    function dragstart_handler(ev) {
      console.log("dragStart");
      // Add the target element's id to the data transfer object
      ev.dataTransfer.setData("text/plain", ev.target.id);
      ev.dataTransfer.dropEffect = "move";
    }
    function dragover_handler(ev) {
      ev.preventDefault();
      // Set the dropEffect to move
      ev.dataTransfer.dropEffect = "move"
    }
    function drop_handler(ev) {
      ev.preventDefault();
      // Get the id of the target and add the moved element to the target's DOM
      var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));
    }
  </script>
  <div class="container" fl-repeat="rows">
    <div id="target" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" class="drop-zone" fl-repeat="columns"></div>
  </div>
  <br/>
  
  <div id="draggable" draggable="true" ondragstart="dragstart_handler(event);">x</div>

</template>